<!DOCTYPE html>
{% load static %}
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block title %}
    <title>Inventario Mundo Cartas</title>
    {% endblock title %}
    <link rel="icon" type="image/png" href="{% static 'logoMundoCartas.png' %}">

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4 shadow-sm">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url "home" %}">
          <i class="bi bi-dice-6"></i> Mundo Cartas
        </a>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ms-auto">
            <!-- Enlace: Inventario Productos -->
            <li class="nav-item">
              <a class="nav-link" href="{% url "inventario_home" %}">
                <i class="bi bi-box"></i> Inventario Productos
              </a>
            </li>

            <!-- Enlace: cerrar sesión -->
            <li class="nav-item">
              <a class="nav-link" href="{% url "cerrar_sesion" %}">
                <i class="bi bi-box-arrow-right"></i> Cerrar Sesión
              </a>
            </li>

            <!-- Enlace: iniciar sesión -->
            <li class="nav-item">
              <a class="nav-link" href="iniciar_sesion">
                <i class="bi bi-person-circle"></i> Iniciar Sesión
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>


    <!-- Contenido dinámico -->
    {% block content %}
    <div class="container">
      <!-- Aquí el alumno agregará los bloques -->
      <div class="text-center mt-4">
        <h1>Sistema de Inventario de Mundo Cartas</h1>
        <p class="lead">
          Tienda de Cartas TCG, Figuras de colección y Videojuegos.
        </p>
      </div>
    </div>
    <!-- Banner Mundo Cartas - 2 Dic 2025 -->
    <div class="w-100 mt-3 mb-4 d-flex justify-content-center" style="overflow-x:hidden;">
      <img src="{% static 'bannerMundoCartas.png' %}" alt="Banner Mundo Cartas" class="img-fluid rounded-3 shadow" style="width:100%; max-width:1200px; height:auto;">
    </div>
    {% endblock %}

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
